body{
    background-color: #393E46;
    text-align : center;
    color: #4ECCA3;
}


h1{
    margin : 30px;
    font-family : 'Lobster' , cursive;
    font-size: 8rem;
    text-shadow: 5px 0 #232931;
}

p{
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
}

img{
    width: 50%;
}

footer{
    color: white;
    font-family: 'Indie Flower', cursive;
    margin-top: 5%;
    font-size: 1.5rem;
}

.container{
    width: 55%;
    margin: auto;

}

.dice{
    display: inline-block;
    width : 40%;

}
